.pics{
    height: 410px;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.second{
    text-align: center;
}

.title{
    background-color: rgb(233, 140, 18);
}